@model RESS.Models.Owner.OwnerDetail

@{
    ViewBag.Title = "Delete";
}

<h2 class="smalltitle">Delete Property Owner</h2>
<div class="jumbotron">
    <h3>Verify Owner information before deleting:</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OwnerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OwnerFirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerFirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OwnerLastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerLastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MobileNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MobileNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            

        </dl>
        <h3>Proceed? Owners cannot be recovered, if deleted.</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("View All Owners", "Index")
            </div>
        }
    </div>
</div>