@model RESS.Models.Owner.OwnerDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OwnerDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnedDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnedDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MortgageAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MortgageAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
