@model IEnumerable<RESS.Models.Owner.OwnerListItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="smalltitle">All Property Owners</h2>
<div class="jumbotron">
    <p>
        @Html.ActionLink("Create New Property Owner", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id=item.OwnerId }) |
                    @Html.ActionLink("Profile", "Details", new { id = item.OwnerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OwnerId })
                </td>
            </tr>
        }

    </table>
</div>