<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 6px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: lightgray;
            border-radius: 6px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: gray;
            }
    </style>
    <title>@ViewBag.Title - RESS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RESS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!--<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                        <li>@Html.ActionLink("Properties", "Index", "Property")</li>
                        <li>@Html.ActionLink("Owners", "Index", "Owner")</li>
                        <!--<li>Html.ActionLink("Tenants", "Index", "Tenant")</li>-->
                        <li>@Html.ActionLink("Investment", "Index", "Investment")</li>
                        <!--Fix the navigation, maybe create more views-->
                        <li>@Html.ActionLink("Management", "Index", "Management")</li>
                        <!--Fix the navigation, maybe create more views-->
                    }
                    else
                    {
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="footertext">&copy; @DateTime.Now.Year - RESS by TILLEMA Dev</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
