@model RESS.Models.PropertyDetail


@{
    ViewBag.Title = "Delete";
}

<h2 class="smalltitle">Delete Property</h2>
<div class="jumbotron">
    <div>
        <div class="warning" style="background-color:lightblue; width:fit-content; border-radius:6px; padding: 10px">
            <h5>Very property information before deleting:</h5>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Zip)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Zip)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Beds)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Beds)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Baths)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Baths)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SquareFeet)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SquareFeet)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HomeType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HomeType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.YearBuilt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.YearBuilt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Heating)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Heating)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cooling)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cooling)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AvailableParking)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AvailableParking)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ParkingType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ParkingType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LotSize)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LotSize)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Basement)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Basement)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Flooring)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Flooring)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Roofing)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Roofing)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ConstructionMaterials)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ConstructionMaterials)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Neighborhood)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Neighborhood)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Parcel)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Parcel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MarketValue)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MarketValue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MarketRentValue)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MarketRentValue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ThirdyDayChange)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ThirdyDayChange)
                </dd>


            </dl>
            <div class="warning" style="background-color:lightblue; width:fit-content; border-radius:6px; padding: 10px">
                <h5>Proceed? This property's information cannot be recovered, if deleted.</h5>
                <input type="submit" value="Cancel" class="btn btn-default" href="~/Property/Index" />
            </div>

            <br />


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                    @Html.ActionLink("View All Properties", "Index")
                </div>
            }
        </div>
    </div>
</div>