@model RESS.Models.FourSquareAnalysis.FourSquareDetail

@{
    ViewBag.Title = "Delete";
}

<h2 class="smalltitle">New Report: Four-Square Analysis</h2>
<div class="jumbotron">
    <div>
        <h3>Verify Report information before deleting:</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FourSquareAnalysisId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FourSquareAnalysisId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FourSquareDateRan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FourSquareDateRan)
            </dd>

            <dt>

                @Html.DisplayNameFor(model => model.PropertyId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropertyId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RentalIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RentalIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyLaundryIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyLaundryIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyMiscIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyMiscIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalMonthlyIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalMonthlyIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyMortgageExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyMortgageExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyRentalInsuranceExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyRentalInsuranceExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyTaxExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyTaxExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyUtilityExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyUtilityExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyHoaExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyHoaExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyPropertyServiceExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyPropertyServiceExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyVacancyExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyVacancyExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyRepairExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyRepairExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyManagementExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyManagementExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalMonthlyPropertyExpenses)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalMonthlyPropertyExpenses)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalMonthlyCashFlow)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalMonthlyCashFlow)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstDownPayment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstDownPayment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstClosingCost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstClosingCost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstRehabBudget)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstRehabBudget)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstTotalInvestment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstTotalInvestment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstAnnaulCashFlow)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstAnnaulCashFlow)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalCtcRoi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalCtcRoi)
            </dd>

        </dl>
        <h3>Proceed? Reports cannot be recovered, if deleted.</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("View All Four-Square Reports", "Index")
            </div>
        }
    </div>
</div>