@model RESS.Models.FourSquareAnalysis.FourSquareDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="smalltitle">Report: Four-Square Analysis</h2>
<div class="jumbotron" >
    <div class="container">
        <div class="row col-lg-6" style="background-color: lightgray; border-radius: 6px; margin-right: 5px; margin-bottom:5px; padding-bottom:12px;" align="center">
            <div class="col-lg-">

                <h3 class="headingstyle1">Report for @Html.DisplayNameFor(model => model.PropAddress)</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FourSquareAnalysisId)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.FourSquareAnalysisId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FourSquareDateRan)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.FourSquareDateRan)
                    </dd>

                    <dt>

                        @Html.DisplayNameFor(model => model.PropertyId)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.PropertyId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PropAddress)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.PropAddress)
                    </dd>
                </dl>

                <h3 class="headingstyle1">Monthly Revenue</h3>
                <dl class="dl-horizontal">


                    <dt>

                        @Html.DisplayNameFor(model => model.RentalIncome)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.RentalIncome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyLaundryIncome)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyLaundryIncome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyMiscIncome)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyMiscIncome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalMonthlyIncome)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.TotalMonthlyIncome)
                    </dd>



                </dl>
            </div>
        </div>

        <div class="row col-lg-6" style="background-color: lightgray; border-radius: 6px; margin-left:0px; margin-right:0px; margin-bottom: 5px; " align="center">
            <div class="col-lg-">
                <h3 class="headingstyle1">Monthly Expenses</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyMortgageExpense)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyMortgageExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyRentalInsuranceExpense)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyRentalInsuranceExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyHoaExpense)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyHoaExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyPropertyServiceExpense)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyPropertyServiceExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyTaxExpense)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyTaxExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyRepairExpense)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyRepairExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyUtilityExpense)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyUtilityExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyVacancyExpense)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyVacancyExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyManagementExpense)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.MonthlyManagementExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalMonthlyPropertyExpenses)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.TotalMonthlyPropertyExpenses)
                    </dd>
                </dl>
                <br />
                <br />
            </div>
        </div>

        <div class="row col-lg-6" style="background-color: lightgray; border-radius: 6px; margin-left:-15px; margin-right:0px; margin-bottom: 5px; " align="center">
            <div class="col-lg-">
                <h3 class="headingstyle1">Monthly Cash Flow</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TotalMonthlyIncome)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.TotalMonthlyIncome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalMonthlyPropertyExpenses)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.TotalMonthlyPropertyExpenses)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalMonthlyCashFlow)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.TotalMonthlyCashFlow)
                    </dd>

                </dl>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>

        <div class="row col-lg-6" style="background-color: lightgray; border-radius: 6px; margin-left:6px; margin-right:0px; margin-bottom: 5px; " align="center">
            <div class="col-lg-">
                <h3 class="headingstyle1">Return on Investment</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EstDownPayment)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.EstDownPayment)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EstClosingCost)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.EstClosingCost)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EstRehabBudget)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.EstRehabBudget)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EstTotalInvestment)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.EstTotalInvestment)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EstAnnaulCashFlow)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.EstAnnaulCashFlow)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalCtcRoi)
                    </dt>

                    <dd align="center">
                        @Html.DisplayFor(model => model.TotalCtcRoi)
                    </dd>

                </dl>
                

            </div>
        </div>




    </div>




    <p>

        @Html.ActionLink("View All Four-Square Reports", "Index")
    </p>
</div>