@model RESS.Models.NetOperatingIncome.NetOperatingIncomeDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="smalltitle">Report: Net Operating Income Analysis</h2>
<div class="jumbotron">
    <div class="container">
        <div class="row col-lg-6" style="background-color: lightgray; border-radius: 6px; margin-right: 5px; margin-bottom:5px; padding-bottom:12px;" align="center">
            <div class="col-lg-">

                <h3 class="headingstyle1">Report for Property @Html.DisplayFor(model => model.PropertyId)</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NetOperatingIncomeId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NetOperatingIncomeId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NOIRundate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NOIRundate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PropertyId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PropertyId)
                    </dd>

                    
                </dl>

                <h3 class="headingstyle1">Monthly Revenue</h3>
                <dl>

                    <dt>
                        @Html.DisplayNameFor(model => model.RentalIncome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RentalIncome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyLaundryIncome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MonthlyLaundryIncome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyMiscIncome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MonthlyMiscIncome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalMonthlyIncome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TotalMonthlyIncome)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row col-lg-6" style="background-color: lightgray; border-radius: 6px; margin-left:0px; margin-right:0px; margin-bottom: 5px; padding-bottom: -2px" align="center">
            <div class="col-lg-">
                <h3 class="headingstyle1">Monthly Expenses</h3>

                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyMortgageExpense)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MonthlyMortgageExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyRentalInsuranceExpense)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MonthlyRentalInsuranceExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyUtilityExpense)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MonthlyUtilityExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyHoaExpense)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MonthlyHoaExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyPropertyServiceExpense)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MonthlyPropertyServiceExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyVacancyExpense)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MonthlyVacancyExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyRepairExpense)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MonthlyRepairExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MonthlyManagementExpense)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MonthlyManagementExpense)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalMonthlyPropertyExpenses)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TotalMonthlyPropertyExpenses)
                    </dd>

                </dl>
            </div>
        </div>

        <div class="row col-lg-6" style="background-color: lightgray; border-radius: 6px; margin-left:-15px; margin-right:0px; margin-bottom: 5px; " align="center">
            <div class="col-lg-">
                <h3 class="headingstyle1">NOI</h3>

                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.AnnualNetOperatingIncome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AnnualNetOperatingIncome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AnnualRentIncreasePercent)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AnnualRentIncreasePercent)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FiveYearNoi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FiveYearNoi)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FifteenYearNoi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FifteenYearNoi)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ThirtyYearNoi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ThirtyYearNoi)
                    </dd>

                </dl>
            </div>
        </div>

            <p>
                @Html.ActionLink("View all NOI Reports", "Index")
            </p>
    </div>
</div>
