@model RESS.Models.CapitalizationRate.CapitalizationRateDetail

@{
    ViewBag.Title = "Delete";
}

<h2 class="smalltitle">Delete Report: Capitalization Rate Analysis</h2>
<div class="jumbotron">
    
    <div>
        <h3>Verify Report information before deleting:</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CapitalizationRateAnalysisId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CapitalizationRateAnalysisId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CapRateRunDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CapRateRunDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropertyId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropertyId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MarketRentValue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MarketRentValue)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MarketValue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MarketValue)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OwnerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PurchasePrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OwnedDuration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnedDuration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyLaundryIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyLaundryIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyMiscIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyMiscIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalMonthlyIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalMonthlyIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyMortgageExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyMortgageExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyRentalInsuranceExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyRentalInsuranceExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyUtilityExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyUtilityExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyHoaExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyHoaExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyPropertyServiceExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyPropertyServiceExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyVacancyExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyVacancyExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyRepairExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyRepairExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyManagementExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyManagementExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalMonthlyPropertyExpenses)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalMonthlyPropertyExpenses)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnnualNetOperatingIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnnualNetOperatingIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnnualRentIncreasePercent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnnualRentIncreasePercent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentCapitalizationRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentCapitalizationRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstFiveYearCapitalizationRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstFiveYearCapitalizationRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstFifteenYearCapitalizationRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstFifteenYearCapitalizationRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstThirtyYearCapitalizationRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstThirtyYearCapitalizationRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OwnedDurationCapitalizationRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnedDurationCapitalizationRate)
            </dd>

        </dl>
        <h3>Proceed? Reports cannot be recovered, if deleted.</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("View all Cap Rate Reports", "Index")
            </div>
        }
    </div>
</div>