@model RESS.Models.CapitalizationRate.CapitalizationRateDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="smalltitle">Report: Capitalization Rate Analysis</h2>
<div class="jumbotron">
    <div>
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CapitalizationRateAnalysisId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CapitalizationRateAnalysisId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CapRateRunDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CapRateRunDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropertyId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropertyId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RentalIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RentalIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropMarketValue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropMarketValue)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OwnerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropPurchasePrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropPurchasePrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropOwnedDuration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropOwnedDuration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyLaundryIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyLaundryIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyMiscIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyMiscIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalMonthlyIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalMonthlyIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyMortgageExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyMortgageExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyRentalInsuranceExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyRentalInsuranceExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyUtilityExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyUtilityExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyHoaExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyHoaExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyPropertyServiceExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyPropertyServiceExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyVacancyExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyVacancyExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyRepairExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyRepairExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyManagementExpense)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyManagementExpense)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalMonthlyPropertyExpenses)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalMonthlyPropertyExpenses)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnnualNetOperatingIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnnualNetOperatingIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnnualRentIncreasePercent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnnualRentIncreasePercent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentCapitalizationRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentCapitalizationRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstFiveYearCapitalizationRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstFiveYearCapitalizationRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstFifteenYearCapitalizationRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstFifteenYearCapitalizationRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstThirtyYearCapitalizationRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstThirtyYearCapitalizationRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OwnedDurationCapitalizationRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnedDurationCapitalizationRate)
            </dd>

        </dl>
    </div>
    <p>
       
        @Html.ActionLink("View all Cap Rate Reports", "Index")
    </p>
</div>