@model IEnumerable<RESS.Models.CapitalizationRate.CapitalizationRateListItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="smalltitle">All Capitalization Rate Analysis Reports</h2>
<div class="jumbotron">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CapitalizationRateAnalysisId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapRateRunDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CapitalizationRateAnalysisId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapRateRunDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyId)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerId)
                </td>
                <td>
                    
                    @Html.ActionLink("View Report", "Details", new { id=item.CapitalizationRateAnalysisId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CapitalizationRateAnalysisId })
                </td>
            </tr>
        }

    </table>
</div>